/* Navbar */

.nav-custom {
    background-color: white;
    color: #81c784;
    font-family: 'Righteous', cursive;
}

.nav-custom a {
    color: #81c784;
}

.nav-custom a i {
    color: #81c784;
}

.nav-custom li {
    color: #81c784;
}

.uppercase {
    text-transform: uppercase;
}

/* Buttons */

.btn-custom {
    background-color: #81c784;
    color: white;
    font-family: 'Righteous', cursive;
}

.btn-small {
    margin: 5px;
}

/* Icons */

i {
    /* Overrides Materialize margin */
    margin: 0em !important;
}

/* Colours */



/* Text fields */

.text-gray {
    color: #9e9e9e;
}

h1,
h2,
h3,
h4 {
    color: #81c784;
    font-family: 'Righteous', cursive;
}