{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Recipe</h3>

    <div class="row card-panel white">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12 nav-custom">
                    <i class="material-icons prefix">ramen_dining</i>
                    <input id="cuisine_name" name="cuisine_name" type="text" minlength="3" maxlength="60"
                        class="validate" required>
                    <label for="cuisine_name">Cuisine</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 nav-custom">
                    <i class="material-icons prefix">menu_book</i>
                    <textarea id="recipe_name" name="recipe_name" minlength="3" maxlength="60"
                        class="materialize-textarea validate" required></textarea>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 nav-custom">
                    <i class="material-icons prefix">checklist_rtl</i>
                    <textarea id="ingredients" name="ingredients" minlength="3"
                        class="materialize-textarea validate" required></textarea>
                    <label for="ingredients">Ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 nav-custom">
                    <i class="material-icons prefix">format_list_numbered</i>
                    <textarea id="steps" name="steps" minlength="3"
                        class="materialize-textarea validate" required></textarea>
                    <label for="steps">Steps</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 nav-custom">
                    <i class="material-icons prefix">hourglass_top</i>
                    <textarea id="prep_time" name="prep_time" minlength="1" maxlength="3"
                        class="materialize-textarea validate" pattern="^[0-9]{1,3}$"
                            placeholder="(In minutes)" required></textarea>
                    <label for="prep_time">Prep Time</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 nav-custom">
                    <i class="material-icons prefix">hourglass_bottom</i>
                    <textarea id="cook_time" name="cook_time" minlength="1" maxlength="3"
                        class="materialize-textarea validate" pattern="^[0-9]{1,3}$" placeholder="(In minutes)" required></textarea>
                    <label for="cook_time">Cook Time</label>
                </div>
            </div>
        </form>
  </div>

{% endblock %}