{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">All recipes</h3>

    <ul class="collapsible">
        {% for item in instructions %}
            <li>
                <div class="collapsible-header btn-custom">
                    <i class="material-icons">arrow_drop_down</i>
                    {{ item.cuisine_name }}: {{ item.recipe_name }} |
                    Prep Time: {{ item.prep_time }} - Cook Time:
                    {{ item.cook_time }}
                    <i class="large material-icons">access_time</i>
                </div>
                <div class="collapsible-body">
                    <h3>{{ item.recipe_name }}</h3>
                    <h4>Ingredients:</h4>
                    <ul>
                        {% for elem in item.ingredients %}
                        <li>
                            {{elem}}
                        </li>
                        {% endfor %}
                    </ul>
                    <h4>Steps:</h4>
                    <ol>
                        {% for elem in item.steps %}
                        <li>
                            {{elem}}
                        </li>
                        {% endfor %}
                    </ol>
                    <p><em>Created by: {{ item.created_by }}</em></p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}