{% extends "base.html" %}
{% block content %}

    <h2 class="center-align nav-custom">Sign Up</h2>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('sign_up') }}">
            <div class="card-panel nav-custom">
                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="username" name="username" type="text" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">lock</i>
                        <input id="password" name="password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- Sign Up -->
                <div class="row center-align">
                    <button class="s12 btn-large btn-custom uppercase">Sign Up</button>
                </div>
            </div>
        </form>
    </div>
    

{% endblock %}